
.vs/

# Ignorar todas las carpetas obj y bin en cualquier lugar del proyecto
**/obj/
**/bin/

# Ignorar archivos específicos en las carpetas obj de cada proyecto
**/obj/Debug/net8.0/*.AssemblyInfoInputs.cache
**/obj/Debug/net8.0/*.assets.cache
**/obj/Debug/net8.0/*.GeneratedMSBuildEditorConfig.editorconfig
**/obj/Debug/net8.0/*.AssemblyInfo.cs
/Estructural.Adapter/obj/Debug/net8.0/Estructural.Adapter.AssemblyInfoInputs.cache
/Creational.FactoryMethod/obj/Creational.FactoryMethod.csproj.nuget.dgspec.json
/Creational.FactoryMethod/obj/project.assets.json
/Creational.FactoryMethod/obj/project.nuget.cache
/Creational.Singleton/obj/Creational.Singleton.csproj.nuget.dgspec.json
/Creational.Singleton/obj/project.assets.json
/Creational.Singleton/obj/project.nuget.cache
/Creational.Builder.Example/obj/Creational.Builder.Example.csproj.nuget.dgspec.json
/Creational.Builder.Example/obj/project.assets.json
/Creational.Builder.Example/obj/project.nuget.cache
/Creational.AbstractFactory/obj/Creational.AbstractFactory.csproj.nuget.dgspec.json
/Creational.AbstractFactory/obj/project.assets.json
/Creational.AbstractFactory/obj/project.nuget.cache
/Creational.Builder/obj/Creational.Builder.csproj.nuget.dgspec.json
/Creational.Builder/obj/project.assets.json
/Creational.Builder/obj/project.nuget.cache
